<!doctype html>
<html>
    <head>
        <title>Hello World</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <!--[if gt IE 8]><!-->

            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

        <!--<![endif]-->
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body ng-app="CostToRevenue" ng-controller="MainController as Main">

        <div id="layout" class="pure-g">

            <div class="sidebar pure-u-1 pure-u-md-1-4">

                <div class="header">

                    <h1 class="brand-title">Counterfeits Stats</h1>
                    <p class="lead">This will show how fighting counterfeits has agained revenue. As well as predictions for future gains base on current data.</p>

                    <form class="pure-form pure-form-stacked">

                        <fieldset>

                            <div>
                                <label for="budget">
                                    <span>Yearly budget</span>
                                    <input type="number" id="budget" placeholder="1000000" name="budget" ng-model="Main.form.budget" ng-change="Main.updated(Main.form)"
                                    required class="pure-input-1" min="100000" step="100000">
                                </label>
                            </div>

                            <div>
                                <label for="purchase">
                                    <span>Purchases made</span>
                                    <input type="number" id="purchase" placeholder="800" name="purchase" ng-model="Main.form.purchase" ng-change="Main.updated(Main.form)" required class="pure-input-1">
                                </label>
                            </div>

                            <div>
                                <label for="cases">
                                    <span>Cases won</span>
                                    <input type="number" id="cases" placeholder="50" name="cases" ng-model="Main.form.cases" ng-change="Main.updated(Main.form)" required class="pure-input-1">
                                </label>
                            </div>

                            <div>
                                <label for="direct">
                                    <span>Direct income</span>
                                    <input type="number" id="direct" placeholder="1300000" name="direct" ng-model="Main.form.direct" ng-change="Main.updated(Main.form)" required class="pure-input-1" step="100000">
                                </label>
                            </div>

                        </fieldset>

                    </form>

                </div>

            </div>

            <div class="content pure-u-1 pure-u-md-3-4">

                <div id="data" style="height: 500px; width: 100%; display: block;"></div>

                <pie-directive ng-model="Main.form" id="pie_default" style="height: 500px; width: 100%; display: block;"></pie-directive>

                <bar-directive ng-model="Main.form" id="bar_chart" style="height: 500px; width: 100%; display: block;"></bar-directive>

            </div>

        </div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Direct income', 'Total cost'],
          ['2013',  1400400,      1000000],
          ['2014',  46000,      11700],
          ['2015',  1120000,       66000],
          ['2016',  54000,      103000]
        ]);

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
          animation: {
            duration: 1000,
            easing: 'out'
          }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('data'));
        chart.draw(data, options);
        }
    </script>
    <script src="js/app.js"></script>
    </body>
</html>
