// As hex codes */

//$color-primary-0: #428CCA;	// Main Primary color */
//$color-primary-1: #2F618D;
//$color-primary-2: #D4EBFE;
//$color-primary-3: #AAD7FE;



// As RGBa codes */

$rgba-primary-0: rgba( 66,140,202,1);	// Main Primary color */
$rgba-primary-1: rgba(47, 97, 141, 1);
$rgba-primary-2: rgba(212, 235, 254, 1);
$rgba-primary-3: rgba(170, 215, 254, 1);

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.testing__container {
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    margin-bottom: 140px;
}

.testing__container--plain {
    background-color: transparent;
}

.testing__container--noMd, .md-50 {
    margin-bottom: 50px;
}

.testing__text {
    margin-bottom: 0;
}

.testing__icons {
    background-color: #94C3EA;
    color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
}

.testing__icons--plain {
    background-color: transparent;
    color: #6E6E6E;
}

.btn__secondary {
    background-color: #94C3EA !important;
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 25px;
}

.btn__secondary--other {
    background-color: #eea236 !important;
}

.testing__chevron {
    color: #65A5DA;
}

.testing__chevron--down {
    bottom: -103px;
    right: 47.5%;
    z-index: 3;
    position: absolute;
}

.testing__chevron--center {
    position: absolute;
    top: 40%;
    left: 30%;
}

.testing__chevron--action {
    color: #eea236;
}

.testing__icons--success {
    background-color: #eea236;
}

.testing__list {
    list-style-type: none;
    padding-bottom: 25px;
}

.testing__listTitle {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.link {
    color: #2F618D;
    text-decoration: underline;
    transition: color 0.5s;
}

.link--noUnderline, .link--noUnderline:hover, .link--noUnderline:focus {
    text-decoration: none;
}

.link:hover {
    color: #428CCA;
}

.lead--bigger {
    font-size: 24px;
    margin-bottom: 35px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.gi-6x{font-size: 6em;}
.gi-7x{font-size: 7em;}
.gi-8x{font-size: 8em;}
.gi-9x{font-size: 9em;}
.gi-10x{font-size: 10em;}